<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Patients</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/patient/search">Search Patient</a>&nbsp;|&nbsp;
            <a href="/patient/add">Add Patient</a>&nbsp;|&nbsp;
            <a href="/patient/list">View Patient List</a>
        </div>
    </div>
    <div class="row">
        <h2>Patient List</h2>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Family</th>
                <th>Given</th>
                <th>Date of Birth</th>
                <th>Sex</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient: ${patients}">
                <td><a th:href="@{/patient/{id}(id=${patient.id})}"><span th:text="${patient.lastName}"></span></a></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.family}"></td>
                <td th:text="${patient.given}"></td>
                <td th:text="${patient.dob}"></td>
                <td th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td><a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>