<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Update Patient</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/patient/search">Search Patient</a>&nbsp;|&nbsp;
            <a href="/patient/add">Add Patient</a>&nbsp;|&nbsp;
            <a href="/patient/list">View Patient List</a>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <h2>Update Patient</h2>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div>
                <form action="#" th:action="@{/patient/update/{lastName}(lastName=${patient.lastName})}" th:object="${patient}"
                      method="post"
                      class="form-horizontal" style="width: 100%">
                    <div class="form-group">
                        <label for="type" class="control-label">LastName</label>
                        <div>
                            <input type="text" id="type" th:field="*{lastName}" th:value="${patient.lastName}">
                            <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="control-label">FirstName</label>
                        <div>
                            <input type="text" id="firstName" th:field="*{firstName}" th:value="${patient.firstName}">
                            <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dob" class="control-label">Birthdate</label>
                        <div>
                            <input type="text" id="dob" th:field="*{dob}"
                                   th:value="${patient.dob}">
                            <p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="control-label">Sex</label>
                        <div>
                            <input type="text" id="sex" th:field="*{sex}"
                                   th:value="${patient.sex}">
                            <p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label">Address</label>
                        <div>
                            <input type="text" id="address" th:field="*{address}"
                                   th:value="${patient.address}">
                            <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="control-label">Phone</label>
                        <div>
                            <input type="text" id="phone" th:field="*{phone}"
                                   th:value="${patient.phone}">
                            <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <a th:href="@{/patient/{id}(id=${patient.id})}" class="btn btn-danger btn-sm" formmethod="get">Cancel
                            </a>
                            <button type="submit" class="btn btn-primary btn-sm" formmethod="post"
                                    th:formaction="@{/patient/update/{id}(id=${patient.id})}">Update Patient
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>