<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add note</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/patient/search">Search Patient</a>&nbsp;|&nbsp;
        <a href="/patient/add">Add Patient</a>&nbsp;|&nbsp;
        <a href="/patient/list">View Patient List</a>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <h2>Add New Note</h2>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <div>
            <form th:action="@{/note/add}" th:object="${note}" method="post" class="form-horizontal"
                   style="width: 100%">
            <div hidden class="form-group">
                <label for="patientId" class="control-label">Patient Id</label>
                <div>
                    <input type="text" id="patientId" th:name="patientId" th:value="${patientId}">
                    <p class="text-danger" th:if="${#fields.hasErrors('patientId')}" th:errors="*{patientId}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfCreation" class="control-label">Date Of Creation</label>
                <div>
                    <input type="text" id="dateOfCreation" th:field="*{dateOfCreation}" placeholder="Date Of Creation" autofocus>
                    <p class="text-danger" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="control-label">Content</label>
                <div>
                    <textarea id="content" th:field="*{content}"
                              th:value="${note.content}" rows="10" cols="50"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <a th:href="@{/patient/{id}(id=${patientId})}" class="btn btn-danger btn-sm" formmethod="get">Cancel
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm" formmethod="post">Add Note
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>