<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/patient/search">Search Patient</a>&nbsp;|&nbsp;
            <a href="/patient/add">Add Patient</a>&nbsp;|&nbsp;
            <a href="/patient/list">View Patient List</a>
        </div>
    </div>
    <h1>Update Note</h1>
    <div class="row">
        <form action="#" th:action="@{/note/update/{id}(id=${note.id})}"
              th:object="${note}"
              method="post"
              class="form-horizontal" style="width: 100%">
            <div hidden class="form-group">
                <label for="patientId" class="col-sm-2 control-label">Patient Id</label>
                <div class="col-sm-10">
                    <input type="text" id="patientId" th:field="*{patientId}"
                           th:value="${note.patientId}">
                    <p class="text-danger" th:if="${#fields.hasErrors('patientId')}" th:errors="*{patientId}">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfCreation" class="col-sm-2 control-label">Date Of Creation</label>
                <div class="col-sm-10">
                    <input type="text" id="dateOfCreation" th:field="*{dateOfCreation}"
                           th:value="${note.dateOfCreation}">
                    <p class="text-danger" th:if="${#fields.hasErrors('dateOfCreation')}" th:errors="*{dateOfCreation}">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="content" class="col-sm-2 control-label">Content</label>
                <div class="col-sm-10">
                    <textarea id="content" th:field="*{content}"
                              th:value="${note.content}" rows="10" cols="50"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger btn-sm" formmethod="get"
                            formaction="/">Cancel
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" formmethod="post">Update Note
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>