<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/">Home</a>&nbsp;|&nbsp;
            <a href="/patient/search">Search Patient</a>&nbsp;|&nbsp;
            <a href="/patient/add">Add Patient</a>&nbsp;|&nbsp;
            <a href="/patient/list">View Patient List</a>
        </div>
    </div>
    <h1>Welcome to Prevent Patient</h1>
</div>